.search-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eeff00;
}

input {
    height: 35px;
    min-width: 300px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    border-radius: 5px;
    border: none;

    &:focus {
        outline: none;
    }
}